.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-inline: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: transparent;
  color: white;
}

.navbar-name {
  padding-left: 10rem;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  padding-right: 5rem;
}

@media (max-width: 1050px) {
  .navbar-name {
    display: none;
  }
  .navbar-item {
    padding-right: 3rem;
  }

  .list-item-common-property {
    display: none;
  }
}


.list-item-common-property {
  padding: 10px;
  font-size: 1.2rem;
  transition: transparent 0.3s ease;
  transition-delay: 3s;
}

.list-item-common-property:hover {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.381);
  cursor: pointer;
  transition-delay: 0s;
}
